[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
"autopep8" = "*"


[packages]

click = "==6.7"
flask = "==0.12.2"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
markupsafe = "==1.0"
werkzeug = "==0.12.2"


[requires]

python_version = "3.6"
