[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "==2.0.3"
gunicorn = "==21.2.0"

[requires]
python_version = "3.9"
